.container {
    max-width: 1440px;
    margin: 0 auto;
}

.tekst-container {
    text-align: center;
    line-height: 22px;
    width: 904px;
    margin: 0 auto;
    margin-bottom: 50px;;
}

body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    background-image: url("../images/headerspecialisme.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 300px;
}

.pagina {
    background-color: #F0EEEA;
}

img.foto-duinen {
    width: 100vw;
    margin-bottom: 30px;
}

#pagina {
    font-weight: bolder;
}

/* titels */

h1 {
    font-family: "Abril Fatface", 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 57px;
    padding-top: 140px;
    padding-bottom: 80px;
    filter: drop-shadow(0.5rem 0.25rem 0.5rem rgba(0,0,0,0.5));
}

h2 {
    font-size: 35px;
    line-height: 80px;
}

h3 {
    font-size: 28px;
    line-height: 70px;
    color: #5A5A5A;
}

h4 {
    font-size: 28px;
    line-height: 70px;
}

#quote {
    font-family: "Abril Fatface", "Times New Roman";
    text-align: center;
    color: white;
    font-size: 57px;
    padding-top: 350px;
    filter: drop-shadow(0.5rem 0.25rem 0.5rem rgba(0,0,0,0.5));
}

/* containers */

.header-container {
    background-image: url("../images/fotohome.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* header */

header {
    width: 100%;
}

.logobalk {
    background-color: rgba(255,255,255,0.8);
}

.logo {
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* menu */

ul.menu {
    padding: 25px 20px;
    padding-left: 0px;
    background-color: rgba(00,00,00,0.3);
    text-align: center;
    background: linear-gradient(180deg, black, rgba(255,255,255,0));
}

ul.menu li {
    padding: 0 20px;
    display: inline-block;
    list-style: none;
}

ul.menu {
    color: white;
    list-style: none;
}

ul.menu a {
    color: white;
    font-size: 21px;
}

ul.menu a:hover {
    font-weight:bold;
}

#bold {
    font-weight: bold;
}

/* logo */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* vragen */

#situaties {
    font-family: "Abril Fatface";
    text-align: center;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 45px;
}

.vragen-container ul {
    padding: 22px;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
}

.vragen-container ul li {
    background-color: #D8CAB9;
    color: black;
}

.vragen-container ul li a {
    display: flex;
    width: 150px;
    height: 80px;
    padding: 22px;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.vragen-container ul li a span {
    text-align: center;
    color: black;
} 

ul li a {
    text-decoration: none;
}

/* hulp nodig */

.hulp-container {
    display: flex;
    position: relative;
    width: 330px;
    height: 120px;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0 auto;
    margin-bottom: -60px;
    z-index: 1;
}

.hulp-container p {
    margin: auto;
    padding: 20px;
}


/* footer */

.footer.container {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.footer-container ul {
    display: flex;
    padding: 20px 0 50px 0;
    align-content: space-evenly;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #D8CAB9;
}

.footer-container ul li {
    width: 360px;
    margin: 0;
    padding: 12px;
    margin-left: 50px;
}

.footer-container ul li a {
    width: 270px;
    height: 15vh;
    max-width: 190px;
    line-height: 22px;
}

.footer-container ul li a span {
    text-align: left;
    color: #5A5A5A;
    width: 100%;
} 

.copyright {
    display: flex;
    padding: 20px 0;
    background: black;
    color: #D8CAB9;
    align-content: center;
    align-items: center;
}

.copyright p {
    margin-left: 50px;
    margin-right: 200px;
}

/* contact */

.contact-container {
    width: 900px;
    height: 120px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-top: 50px;
}

#contactadvocaten {
    margin-top: 0px;
}

.overonskaart {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

/* faq */

.faq-container {
    display: flex;
    position: relative;
    font-size: 25px;
    width: 900px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    margin: 0 auto;
    font-weight: bold;
    padding: 20px;
    margin: 35px;
}

/* header foto's */

body.headerspecialisme {
    background-image: url("../images/headerspecialisme.jpg");
}

body.headerspecialisme {
    background-image: url("../images/.jpg");
}